.w480 {
	width: 480px;
}
.order_number span{
	margin-left:180px;
	font-size: 16px;
}
.modal {
   width: 930px;
   margin-left: -350px;
   margin-top: 40px;
}
.modal-body {
    max-height: 800px;
}
#allmap {
	height:600px;
}







.all{
	
	background-color: #f9fafa;
    border: 1px solid #f9fafa;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px 0 20px 18px;
}
.sale_desc{
	line-height:50px;
}